
main {
    display: block;
}

/* grosse carte */
.photoGrosseCarte {
    width: 100%;
}

/* carte de gauche */
.carteGauche {
    display: flex;
    flex-direction: column-reverse;
}

.photoPetiteCarte {
    width: 100%;
}

