.photo-a{
    width: 197.668px;
    height: 316px;
    flex-shrink: 0;
    aspect-ratio: 197.67/316.00;
}

.content-text-info {
    width: 80%;

    flex-shrink: 0;

    background-image: linear-gradient(0deg, #803CBC 0%, rgba(150, 47, 211, 0.90) 49.04%, #803CBC 99.99%);

    text-align: center;

    display: flex;

    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #FFF;
    text-align: center;
    font-family: NATS;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* DESKTOP AFFICHAGE */
@media screen and (min-width: 800px) {

}